<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.text.ManageTextMapper">
    <select id="getAllTextDetail" resultType="Text">
        select * from text,text_type,text_status
        where type_id=text_type.id1
        and id=text_status.text_id
        and isexamine=1
    </select>
    <select id="selectIdText" resultType="Text">
        select * from text,text_type,text_status
        where type_id=text_type.id1
        and id=text_status.text_id
        and isexamine=1
        and id=#{id}
    </select>
    <select id="selectColleSumText" resultType="Text">
        select * from text,text_type,text_status
        where type_id=text_type.id1
          and id=text_status.text_id
          and isexamine=1
        order by collect_sum desc
    </select>
    <select id="getTextBiaoqian" resultType="Text_biaoqian" parameterType="int">
        select name from text_biaoqian,biaoqian
        where biaoqian_id=biaoqian.id
        and text_id=#{id}
    </select>
    <select id="getHottext" resultType="Text">
        select * from text,text_type,text_status
        where type_id=text_type.id1
        and id=text_status.text_id
        and isexamine=1
        order by view_sum desc
    </select>
    <update id="updateText" parameterType="Text">
        update text
        <set>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="biaoti != null">
                biaoti = #{biaoti},
            </if>
            <if test="zhaiyao != null">
                zhaiyao = #{zhaiyao},
            </if>
            <if test="update_time != null">
                update_time = #{update_time},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteText_biaoqian" parameterType="int">
        delete from text_biaoqian
        where text_id=#{id}
    </delete>
</mapper>